.symphony-external-app {
  .proto-feed {
    margin: 1rem 0 0;
  }

  .proto-feed-item {
    padding: 1rem 0 0;
    margin: 0 0 1rem 0;
    border-radius: 3px;
    position: relative;
    cursor: pointer;

    &.proto-feed-item--commentary {
      background: #415240;
    }

    &.proto-feed-item--commentary:hover {
      background: darken(#415240, 5%);
    }

    &.proto-feed-item--idea {
      background: #4d4a5d;
    }

    &.proto-feed-item--idea:hover {
      background: darken(#4d4a5d, 5%);
    }

    &.proto-feed-item--news {
      background: #675823;
    }

    &.proto-feed-item--news:hover {
      background: darken(#675823, 5%);
    }
  }

  .proto-feed-item__title {
    margin: 0 1rem 0.2rem 1rem;
  }

  .proto-feed-item__excerpt__heading {
    font-size: 1.6rem;
    margin: 0;
  }

  .proto-feed-item__tags {
    margin: 0 1rem 1rem 1rem;
  }

  .proto-feed-item__tags__tag {
    display: inline-block;
    margin: 0 0.2rem;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }
  }
}