.proto-types {
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  z-index: 1;
}

.proto-types__item {
  display: block;
  margin: 0.5rem 0.2rem;
  padding: 0.2rem 0.5rem;
  background: #313131;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
  flex: 0 1 75px;
  text-align: center;
  opacity: 0.4;
  width: 75px;

  &.proto-types__item--commentary {
    background: #3b543a;
  }

  &.proto-types__item--idea {
    background: #5f495b;
  }

  &.proto-types__item--news {
    background: #675823;
  }

  &.proto-types__item--active {
    opacity: 1;
    font-weight: bold;
  }
}