.symphony-external-app {
    .proto-compose {
        padding: 8px;
        border: 1px solid #797979;
        background: #3e3e3e;
    }

    .proto-heading {
        font-size: 1.5rem;
        color: #fff;
    }

    .proto-heading__sub {
        color: #44b3dd;
        cursor: pointer;
    }
}